{%- from "nunjuks/macros.html" import button -%}
{% import "nunjuks/forms.html" as forms %}
{% import "nunjuks/globals.html" as globals %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/56def7f001.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Integration Boilerplate</title>
</head>

<body class="{% block classBody %}{% endblock %}">
    {% block body %}{% endblock %}
</body>
</html>
