{% extends 'layout-default.html' %}

{% block content %}
    {# <p>Ceci est un
    commentaire</p> #}
    <div class="d-grid gap-5">



        {% include 'exemple-macros.html' %}
        {% include 'exemple-boucle.html' %}
        {% include 'spacing.html' %}
        {% include 'ratio-box.html' %}
        {% include 'fontawesome-mixin.html' %}
        {% include 'image-reveal.html' %}
        {% include 'swiper-video-fullscreen.html' %}
        {% include 'swiper.html' %}
        <div class="container">
            <div class="d-grid gap-5">
                <div>
                    <h4 class="title h3 mb-4">Image object fit</h4>
                    <div class="position-relative" style="height:400px;">
                        <div class="img-cover-container">
                            <img src="{% static 'img/fire.jpg' %}">
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="title h3 mb-4">Insertion d'images JPG</h4>
                    <div class="bg-light" style="background-image: url('{% static 'img/logo-fz.svg' %}')">
                        <img src="{% static 'img/fire.jpg' %}" width="300" height="100">
                    </div>
                </div>
                <div>
                    <h4 class="title h3 mb-4">Insertion d'images PNG</h4>
                    <div class="bg-light" style="background-image: url('{% static 'img/logo-fz.svg' %}')">
                        <img src="{% static 'img/fire.png' %}" width="300" height="100">
                    </div>
                </div>
                <div>
                    <h4 class="title h3 mb-4">Include part</h4>
                    {% include 'include.html' %}
                </div>
                <div>
                    <h4 class="title h3 mb-4">Video avec lancement après le chargement de la page et image placeholder</h4>
                    <video muted loop poster="{% static 'img/video-poster.jpg' %}" data-src="{% static 'video/video.mp4' %}"></video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
