{% extends 'layout-default.html' %}

{% block content %}
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
    <img class="intersection-item" src="{% static 'img/fire.jpg' %}">
{% endblock %}
