// Add a custom theme color

$tertiary:                                      orange;

$custom-colors: (
        "tertiary":      $tertiary
);


// Forms

$custom-control-indicator-border-width:         1px;

$custom-switch-indicator-size-base:             1.5rem;
$custom-switch-width:                           $custom-switch-indicator-size-base * 1.75;
$custom-switch-indicator-border-radius:         $custom-switch-indicator-size-base / 2;
$custom-switch-indicator-size:                  subtract($custom-switch-indicator-size-base, $custom-control-indicator-border-width * 4);

$custom-switch-indicator-size-base-sm:          1rem;
$custom-switch-width-sm:                        $custom-switch-indicator-size-base-sm * 1.75;
$custom-switch-indicator-border-radius-sm:      $custom-switch-indicator-size-base-sm / 2;
$custom-switch-indicator-size-sm:               subtract($custom-switch-indicator-size-base-sm, $custom-control-indicator-border-width * 4);

$custom-switch-indicator-size-base-lg:          2rem;
$custom-switch-width-lg:                        $custom-switch-indicator-size-base-lg * 1.75;
$custom-switch-indicator-border-radius-lg:      $custom-switch-indicator-size-base-lg / 2;
$custom-switch-indicator-size-lg:               subtract($custom-switch-indicator-size-base-lg, $custom-control-indicator-border-width * 4);


// Custom

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$push-effect-box-shadow:inset 0 3px 0 rgba(255,255,255,0.025), 0 1px 1px rgba(0,0,0,0.25);
$content-spacer:              3rem;
$fontawesome-icon-size-base: 1em;
$fontawesome-icon-weight-base: 400;
$fontawesome-icon-spacer:    .25em;
